Repository gquathamer/birding-101: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix, pretter --write

modified configuration for eslint and prettier
  .lintstagedrc
  client/map-container.jsx
  server/server.js
Due: eslint --fix, prettier --write, eslint --fix, pretter --write

modified configuration for eslint and prettier
  .lintstagedrc
Due: none

modified configuration for eslint and prettier
  .prettierrc
  client/map-container.jsx
  package.json
Due: eslint --fix, prettier --write

successfully created a recent observation map showing submitted observations to ebird in the last 30 days for jefferson county co
  client/map-container.jsx
  client/styles.css
  server/public/main.js
Due: eslint --fix, prettier --write

added 2 routes to server for test and to return a species list based on typed chars
  .vscode/launch.json
  client/map-container.jsx
  docker-commands.txt
  package-lock.json
  package.json
  server/public/main.css
  server/public/main.js
  server/server.js
Due: eslint --fix, prettier --write, eslint --fix, pretter --write

added beginning of auto suggest for species input. working on fetching recent observations for a given species based on input
  client/app.jsx
  client/auto-input.jsx
  client/form.jsx
  client/map-container.jsx
  client/styles.css
  nodemon.json
  server/public/main.css
  server/public/main.js
  server/server.js
  webpack.config.js
Due: eslint --fix, prettier --write, eslint --fix, pretter --write

modified webpack config to generate source maps for output
  client/auto-input.jsx
  server/public/main.css
  server/public/main.css.map
  server/public/main.js
  server/public/main.js.map
  webpack.config.js
Due: eslint --fix, prettier --write

user can now select a suggested species, populate the input, and click submit to get a map of nearby sightings of that species
  client/auto-input.jsx
  client/form.jsx
  client/styles.css
  server/public/main.css
  server/public/main.css.map
  server/public/main.js
  server/public/main.js.map
Due: eslint --fix, prettier --write

updated search query to database to include keywords in any location of a matching species
  client/form.jsx
  client/styles.css
  server/public/main.css
  server/public/main.css.map
  server/public/main.js
  server/public/main.js.map
  server/server.js
Due: eslint --fix, prettier --write, eslint --fix, pretter --write

completed auto-complete for searching a specific species
  client/auto-input.jsx
  client/styles.css
  server/public/main.css
  server/public/main.css.map
  server/public/main.js
  server/public/main.js.map
Due: eslint --fix, prettier --write

adding main js map
  server/public/main.js.map
Due: none

added google fonts to html template
  client/index.html
  client/styles.css
  nodemon.json
  package.json
  server/public/index.html
  server/public/main.css
  server/public/main.css.map
  server/public/main.js.map
Due: none

finally got webpack and express to play together, added hmr and browser refresh on client code changes
  client/test.js
  package-lock.json
  package.json
  server/public/main.js
  server/public/main.js.map
  server/server.js
  webpack.config.js
Due: eslint --fix, prettier --write, eslint --fix, pretter --write

modified package.json to remove unnecessary dependencies
  client/form.jsx
  package-lock.json
  package.json
  server/server.js
Due: eslint --fix, prettier --write, eslint --fix, pretter --write

added react router to the mix for basic client side navigation
  client/components/auth-form.jsx
  client/components/auto-input.jsx
  client/components/form.jsx
  client/components/map-container.jsx
  client/index.jsx
  client/routes/auth.jsx
  client/routes/root.jsx
  client/template/index.html
  client/template/layout.css
  client/template/styles.css
  client/test.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

added react-router-bootstrap to clean up link components from react-router
  client/components/auth-form.jsx
  client/components/navigation.jsx
  client/routes/auth.jsx
  client/routes/root.jsx
  client/template/index.html
  client/template/styles.css
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

added react-bootstrap select menu for state selection of map
  client/components/location-form.jsx
  client/routes/root.jsx
Due: eslint --fix, prettier --write

added 2 select dropdowns where user can pick a state and then a county for species map
  client/components/location-form.jsx
  client/lib/states.js
  client/routes/root.jsx
Due: eslint --fix, prettier --write

resized all form elements to take up 33% of page
  client/template/styles.css
Due: none

added species autocomplete to location form, working on zooming map to bounds of observations for species
  client/components/form.jsx
  client/components/location-form.jsx
  client/components/map-container.jsx
  client/routes/root.jsx
  client/template/styles.css
Due: eslint --fix, prettier --write

changed the import of L object and working now. need to work on zoom still
  client/components/map-container.jsx
Due: eslint --fix, prettier --write

added a component that uses the useMap hook to zoom to bounds for a layer
  client/components/map-container.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: client/**/*.{js,jsx}
  prettier --write: any of: client/**/*.{js,jsx}
  eslint --fix, pretter --write: any of: server/server.js
